<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p><a href="#">Cyborg Album</a> Company. All rights reserved. 
          
          <br>Design: <a href="https://www.facebook.com/huyeenftrang2002/" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By <a href="https://www.facebook.com/huyeenftrang2002/" target="_blank" >huyeenftrang2002</a></p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>

  </body>

</html>